@font-face {
  font-family: LatoBold;
  src: url('../fonts/LatoBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: LatoLight;
  src: url('../fonts/LatoLight.ttf') format('truetype');;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSansLight;
  src: url('../fonts/OpenSansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: LatoRegular;
  src: url('../fonts/LatoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: TahomaRegular;
  src: url('../fonts/TahomaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}